@model List<Student>
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-controller="Home" asp-action="Index" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">TherapiCare</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item ">
            <a class="menu-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" asp-area="Admin" asp-controller="TherapyProgram" asp-action="Index">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Analytics">Program</div>
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" asp-area="Admin" asp-controller="Billings" asp-action="Index">
                <i class="menu-icon tf-icons bi bi-cash"></i>
                <div data-i18n="Analytics">Billings</div>
            </a>
        </li>
        <li class="menu-item active">
            <a asp-area="Admin" asp-controller="AdminList" asp-action="ListOfStudent" class="menu-link">
                <i class="menu-icon tf-icons bi bi-people"></i>
                <div data-i18n="Basic">Student List</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Admin" asp-controller="AdminList" asp-action="ListOfParent" class="menu-link">
                <i class="menu-icon tf-icons bi bi-people"></i>
                <div data-i18n="Basic">Parent List</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bi bi-person"></i>
                <div data-i18n="Account Settings">Manage User</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                        <div data-i18n="Account">User List</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-area="Identity" asp-page="/Account/Register">
                        <div data-i18n="Notifications">Register Staff</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item ">
            <a asp-area="Admin" asp-controller="Announcements" asp-action="Index" class="menu-link">

                <i class="flex-shrink-0 bx bi-megaphone me-2"></i>
                <div data-i18n="Basic"> Announcement</div>
            </a>
        </li>
    </ul>
</aside>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="fw-bold py-3 mb-2">Student List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="AdminList" asp-action="GenerateStudentPdf" class="btn btn-primary">
                <i class="bx bxs-file-pdf"></i> Download PDF
            </a>
        </div>
    </div>
<table id="tblData" class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.DOB.ToShortDateString()</td>
                <td>@student.Gender</td>
                <td>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@student.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>


    @section Scripts {
        <script src="~/js/student.js"></script>
    }
