@model TherapiCareTest.ViewModels.SlotVM
<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-controller="Home" asp-action="Index" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">TherapiCare</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>
    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a class="menu-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Dashboard</div>
            </a>
        </li>
        <li class="menu-item active">
            <a class="menu-link" asp-area="Admin" asp-controller="TherapyProgram" asp-action="Index">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div data-i18n="Analytics">Program</div>
            </a>
        </li>
        <li class="menu-item ">
            <a class="menu-link" asp-area="Admin" asp-controller="Billings" asp-action="Index">
                <i class="menu-icon tf-icons bi bi-cash"></i>
                <div data-i18n="Analytics">Billings</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Admin" asp-controller="AdminList" asp-action="ListOfStudent" class="menu-link">
                <i class="menu-icon tf-icons bi bi-people"></i>
                <div data-i18n="Basic">Student List</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Admin" asp-controller="AdminList" asp-action="ListOfParent" class="menu-link">
                <i class="menu-icon tf-icons bi bi-people"></i>
                <div data-i18n="Basic">Parent List</div>
            </a>
        </li>
        <li class="menu-item">
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bi bi-person"></i>
                <div data-i18n="Account Settings">Manage User</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item">
                    <a class="menu-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                        <div data-i18n="Account">User List</div>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" asp-area="Identity" asp-page="/Account/Register">
                        <div data-i18n="Notifications">Register Staff</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item ">
            <a asp-area="Admin" asp-controller="Announcements" asp-action="Index" class="menu-link">

                <i class="flex-shrink-0 bx bi-megaphone me-2"></i>
                <div data-i18n="Basic"> Announcement</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->
<!-- Navbar -->

<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
     id="layout-navbar">
    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
            <i class="bx bx-menu bx-sm"></i>
        </a>
    </div>

    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
        <!-- Search -->
        @* <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input type="text"
        class="form-control border-0 shadow-none"
        placeholder="Search..."
        aria-label="Search..." />
        </div>
        </div> *@
        <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">


            <!-- User -->
            @* <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
            <div class="avatar avatar-online">
            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
            </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
            <li>
            <a class="dropdown-item" href="#">
            <div class="d-flex">
            <div class="flex-shrink-0 me-3">
            <div class="avatar avatar-online">
            <img src="../assets/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
            </div>
            </div>
            <div class="flex-grow-1">
            <span class="fw-semibold d-block">John Doe</span>
            <small class="text-muted">Admin</small>
            </div>
            </div>
            </a>
            </li>
            <li>
            <div class="dropdown-divider"></div>
            </li>
            <li>
            <a class="dropdown-item" href="#">
            <i class="bx bx-user me-2"></i>
            <span class="align-middle">My Profile</span>
            </a>
            </li>
            <li>
            <a class="dropdown-item" href="#">
            <i class="bx bx-cog me-2"></i>
            <span class="align-middle">Settings</span>
            </a>
            </li>
            <li>
            <a class="dropdown-item" href="#">
            <span class="d-flex align-items-center align-middle">
            <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
            <span class="flex-grow-1 align-middle">Billing</span>
            <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
            </span>
            </a>
            </li>
            <li>
            <div class="dropdown-divider"></div>
            </li>
            <li>
            <a class="dropdown-item" href="auth-login-basic.html">
            <i class="bx bx-power-off me-2"></i>
            <span class="align-middle">Log Out</span>
            </a>
            </li>
            </ul>
            </li> *@
            <!--/ User -->
        </ul>
    </div>
</nav>

<!-- / Navbar -->
<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6">
            <h3 class="fw-bold py-3 mb-2"><span class="text-muted fw-light">Slot /</span> Create Slot</h3>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Create">
                    <div class="form-group">
                        <label asp-for="Slot.StartTime" class="control-label"></label>
                        <input asp-for="Slot.StartTime" id="StartTime" class="form-control" value='@DateTime.Today.ToString("yyyy-MM-dd")' />
                        <span asp-validation-for="Slot.StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Slot.EndTime" class="control-label"></label>
                        <input asp-for="Slot.EndTime" id="EndTime"  class="form-control" value='@DateTime.Today.ToString("yyyy-MM-dd")' />
                        <span asp-validation-for="Slot.EndTime" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <select asp-for="Slot.TherapistId" asp-items="@Model.TherapistList" class="form-select border-0 shadow">
                            <option disabled selected>--Select Therapist--</option>
                        </select>
                        <label asp-for="Slot.TherapistId" class="control-label"></label>
                        <span asp-validation-for="Slot.TherapistId" class="text-danger"></span>
                    </div>
                    <br/>
                    <input type="hidden" asp-for="Slot.SessionId" />
                    <div class="form-group">
                        <div>
                            <input type="submit" value="Save" class="btn btn-primary" />
                            <a asp-controller="Slot" asp-action="Index" asp-route-sessionId="@Model.Slot.SessionId" class="btn btn-secondary">Back to list</a>
                        </div>
                    </div>
                        
                </form>
            </div>
        </div>

        @section Scripts {
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    var today = new Date();
                    today.setDate(today.getDate() + 1); // tomorrow

                    document.getElementById('StartTime').min = today.toISOString().split('T')[0];
                    document.getElementById('EndTime').min = today.toISOString().split('T')[0];
                });
            </script>
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
