@model TherapiCareTest.ViewModels.TherapistVM

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-controller="CustServices" asp-action="Index" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">TherapiCare</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item">
            <a asp-area="Therapist" asp-controller="Home" asp-action="Index" class="menu-link">
                <i class="flex-shrink-0 bx bi bi-calendar-check me-2"></i>
                <div data-i18n="Analytics"> My Slots</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-area="Therapist" asp-controller="TherapistList" asp-action="ListOfStudent" class="menu-link">
                <i class="flex-shrink-0 bx bx bx-collection me-2"></i>
                <div data-i18n="Analytics"> Student List</div>
            </a>
        </li>


    </ul>
</aside>


<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="fw-bold py-3 mb-2">Update Profile</h2>
        </div>
    </div>
<form asp-action="Upsert" method="post">
    <div class="form-group">
        <label asp-for="TherapistId" class="control-label"></label>
        <input asp-for="TherapistId" class="form-control" readonly="@(string.IsNullOrEmpty(Model.TherapistId) ? null : "readonly")" />
        <span asp-validation-for="TherapistId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>
    <input type="hidden" asp-for="TherapistId" />
    <input type="hidden" asp-for="AppUserId" />
    <br/>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
